/asdasd.com
/banner.sh
/fast_curl.txt
/fast_httpstatus.txt
/fast_subdomainlist.txt
/fast_subdomainresults.txt
/fullscan_curl.txt
/fullscan_httpstatus.txt
/fullscan_subdomainlist.txt
/fullscan_subdomainresults.txt
/github.com
/screen
/test.sh
/test2.sh
/vulnweb.com
/wordlist.txt